.header-outer-container {
	background-color: var(--color-primary);
	font-size: 2rem;

	& .header-container {
		background-color: var(--color-primary);
		height: 8rem;
		max-width: 120rem;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	& .header-container-flex {
		background-color: var(--color-primary);
		height: 8rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 120rem;
		margin: 0 auto;

		& .logo {
			& img {
				width: 100%;
				height: 100%;
			}
		}
	}
}
